.main-banner{
    background-color: #362c2c;
    height: 75vh;
}

.image-logo{
    width: 20%;
}

.orange-button{
    background-color: #da682b;
    border-width: 0px;
}

.orange-button-rounded{
    background-color: #da682b;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.orange-color{
    color: #da682b;
}

.text-medium{
    font-size: 23px;
}

.banner-img{
    border-radius: 200px 0px 0px 200px;
    margin-top: 150px;
}

.sub-section-85{
    height: 85vh;
}

.sub-section-60{
    height: 60vh;
}

.image-rounder{
    border-radius: 150px 10px 10px 150px ;
}

.border-down{
    border-color: #d9d9d9;
    border-style: solid;
    padding: 10px;
    border-width: 0px 0px 1px 0px;
}

.image-card-1{
    background-image: url('https://images.unsplash.com/photo-1587614313085-5da51cebd8ac?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.image-card-2{
    background-image: url('https://images.unsplash.com/photo-1557426272-fc759fdf7a8d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.image-card-3{
    background-image: url('https://images.unsplash.com/photo-1576267423048-15c0040fec78?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}
.image-card-4{
    background-image: url('https://images.unsplash.com/photo-1577962917302-cd874c4e31d2?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');

}

.project-card{
    width: 70%;
    height: 40vh;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
}

.project-card h3{
    background-color: #de7137;
    padding: 20px;
    margin: 10px;
    z-index: 10;
    width: 75%;
    text-align: center;
    border-radius: 15px 15px 40px 15px;
}

.testimonial-card{
    height: 30vh;
    border: 7px solid #868080;
    border-radius: 20px;
    padding: 20px;
}

.text-medium-small{
    font-size: 20px;
}

.testi-pic{
    border-radius: 50%;
    width: 90px;
    height: 80px;
    image-rendering: auto;
    border: 1px solid black;
}

.form-card{
    padding: 80px 30px;

}

.footer{
    background-color: #362c2c;
}